<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="w-full">

    <p-card styleClass="mb-4">
        <div class="flex align-items-center justify-content-between">
            <div class="flex align-items-center gap-3">
                <p-avatar image="/mista.jpg" size="xlarge" shape="circle" styleClass="bg-primary text-white"></p-avatar>
                <div>
                    <h2 class="m-0 mb-1 text-2xl font-bold text-color">{{ authService.usuario()?.nombreCompleto}}</h2>
                    <p class="m-0 mb-2 text-color-secondary">{{ authService.usuario()?.email }}</p>
                    <p-tag
                        [value]="usuario().activo ? 'Activo' : 'Baja'"
                        [severity]="usuario().activo ? 'success' : 'danger'">
                    </p-tag>
                </div>
            </div>
            <div class="flex gap-2">
                <p-button icon="pi pi-pencil" [rounded]="true" [text]="true"
                    *ifHasPermission="['perfil:editar']"
                    pTooltip="Editar perfil"
                    (onClick)="abrirEditar()"
                    [disabled]="!usuario().activo">
                </p-button>
                <p-button icon="pi pi-ban" [rounded]="true" [text]="true"
                    *ifHasPermission="['perfil:eliminar']"
                    severity="danger" pTooltip="Dar de baja"
                    (onClick)="confirmarBaja()"
                    [disabled]="!usuario().activo">
                </p-button>
            </div>
        </div>
    </p-card>

    <p-card header="Información Personal">
        <div class="flex flex-column gap-3">

            <div class="flex align-items-center gap-3">
                <p-avatar icon="pi pi-user" shape="square" styleClass="surface-ground text-primary"></p-avatar>
                <div>
                    <p class="text-xs text-color-secondary m-0">Usuario</p>
                    <p class="font-medium text-color m-0 mt-1">{{ authService.usuario()?.nombreCompleto }}</p>
                </div>
            </div>
            <p-divider styleClass="my-0"></p-divider>

            <div class="flex align-items-center gap-3">
                <p-avatar icon="pi pi-envelope" shape="square" styleClass="surface-ground text-primary"></p-avatar>
                <div>
                    <p class="text-xs text-color-secondary m-0">Email</p>
                    <p class="font-medium text-color m-0 mt-1">{{ authService.usuario()?.email }}</p>
                </div>
            </div>
            <p-divider styleClass="my-0"></p-divider>

            <div class="flex align-items-center gap-3">
                <p-avatar icon="pi pi-map-marker" shape="square" styleClass="surface-ground text-primary"></p-avatar>
                <div>
                    <p class="text-xs text-color-secondary m-0">Dirección</p>
                    <p class="font-medium text-color m-0 mt-1">{{ authService.usuario()?.direccion }}</p>
                </div>
            </div>
            <p-divider styleClass="my-0"></p-divider>

            <div class="flex align-items-center gap-3">
                <p-avatar icon="pi pi-calendar" shape="square" styleClass="surface-ground text-primary"></p-avatar>
                <div>
                    <p class="text-xs text-color-secondary m-0">Fecha de Nacimiento</p>
                    <p class="font-medium text-color m-0 mt-1">{{ authService.usuario()?.fechaNacimiento }}</p>
                </div>
            </div>
            <p-divider styleClass="my-0"></p-divider>

            <div class="flex align-items-center gap-3">
                <p-avatar icon="pi pi-phone" shape="square" styleClass="surface-ground text-primary"></p-avatar>
                <div>
                    <p class="text-xs text-color-secondary m-0">Teléfono</p>
                    <p class="font-medium text-color m-0 mt-1">{{ authService.usuario()?.telefono }}</p>
                </div>
            </div>

        </div>
    </p-card>
    
<p-dialog
    [(visible)]="modalVisible"
    header="Editar Perfil"
    [modal]="true"
    [style]="{ width: '480px' }"
    [draggable]="false">

    <div class="flex flex-column pt-4 pb-2" style="gap: 2rem;">

        <div>
            <p-floatlabel>
                <input id="nombreCompleto" type="text" pInputText [formControl]="f['nombreCompleto']" class="w-full">
                <label for="nombreCompleto">Nombre Completo</label>
            </p-floatlabel>
            @if (f['nombreCompleto'].touched && f['nombreCompleto'].errors?.['required']) {
                <small class="p-error block mt-1">El nombre es requerido.</small>
            }
        </div>

        <div>
            <p-floatlabel>
                <input id="usuario" type="text" pInputText [formControl]="f['usuario']" class="w-full">
                <label for="usuario">Usuario</label>
            </p-floatlabel>
            @if (f['usuario'].touched && f['usuario'].errors?.['required']) {
                <small class="p-error block mt-1">El usuario es requerido.</small>
            }
        </div>

        <div>
            <p-floatlabel>
                <input id="email" type="email" pInputText [formControl]="f['email']" class="w-full">
                <label for="email">Email</label>
            </p-floatlabel>
            @if (f['email'].touched) {
                @if (f['email'].errors?.['required']) {
                    <small class="p-error block mt-1">El email es requerido.</small>
                }
                @if (f['email'].errors?.['email']) {
                    <small class="p-error block mt-1">Formato de email inválido.</small>
                }
            }
        </div>

        <div>
            <p-floatlabel>
                <input id="direccion" type="text" pInputText [formControl]="f['direccion']" class="w-full">
                <label for="direccion">Dirección</label>
            </p-floatlabel>
            @if (f['direccion'].touched && f['direccion'].errors?.['required']) {
                <small class="p-error block mt-1">La dirección es requerida.</small>
            }
        </div>

        <div>
            <p-floatlabel>
                <p-inputmask inputId="fechaNacimiento"
                    [formControl]="f['fechaNacimiento']"
                    mask="99/99/9999"
                    placeholder="DD/MM/AAAA"
                    styleClass="w-full"
                    inputStyleClass="w-full">
                </p-inputmask>
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
            </p-floatlabel>
            @if (f['fechaNacimiento'].touched && f['fechaNacimiento'].errors?.['required']) {
                <small class="p-error block mt-1">La fecha es requerida.</small>
            }
        </div>

        <div>
            <p-floatlabel>
                <input id="telefono" type="text" pInputText [formControl]="f['telefono']" class="w-full" pKeyFilter="int">
                <label for="telefono">Teléfono</label>
            </p-floatlabel>
            @if (f['telefono'].touched && f['telefono'].errors?.['required']) {
                <small class="p-error block mt-1">El teléfono es requerido.</small>
            }
        </div>

    </div>

    <ng-template pTemplate="footer">
        <p-button label="Cancelar" severity="secondary" [text]="true" (onClick)="modalVisible = false"></p-button>
        <p-button label="Guardar" (onClick)="guardar()"></p-button>
    </ng-template>
</p-dialog>