<div class="flex surface-ground" style="min-height: 100vh;">

    <div class="surface-section flex flex-column py-4 px-3 border-right-1 surface-border" style="width: 260px;">

        <div class="text-center mb-4">
            <p-avatar image="/mista.jpg" size="xlarge" shape="circle"></p-avatar>
            <p class="m-0 mt-2 text-sm text-color-secondary">
                {{ authService.usuario()?.email }}
            </p>
        </div>


        <nav class="flex flex-column gap-2">
            <a routerLink="/app/home" routerLinkActive="font-bold text-primary" [routerLinkActiveOptions]="{exact: true}"
                class="flex align-items-center gap-3 p-3 border-round text-color no-underline cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-home"></i> Inicio
            </a>
            <a routerLink="/app/perfil" routerLinkActive="font-bold text-primary"
                class="flex align-items-center gap-3 p-3 border-round text-color no-underline cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-user"></i> Perfil
            </a>
            @if (authService.tienePermiso(PERMISOS.USUARIOS_VER)) {
                <a routerLink="/app/usuarios" routerLinkActive="font-bold text-primary"
                    class="flex align-items-center gap-3 p-3 border-round text-color no-underline cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-users"></i> Usuarios
                </a>
            }
            @if (authService.tienePermiso(PERMISOS.GROUPS_VER)) {
            <a routerLink="/app/crud" routerLinkActive="font-bold text-primary"
                class="flex align-items-center gap-3 p-3 border-round text-color no-underline cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-table"></i> Grupos
            </a>
            }
            @if (authService.tienePermiso(PERMISOS.TICKETS_VER)) {
            <a routerLink="/app/tickets" routerLinkActive="font-bold text-primary"
                class="flex align-items-center gap-3 p-3 border-round text-color no-underline cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-ticket"></i> Tickets
            </a>
            }
            @if (authService.tienePermiso(PERMISOS.SUPERADMIN_VER)) {
            <a routerLink="/app/superadmin" routerLinkActive="font-bold text-primary"
                class="flex align-items-center gap-3 p-3 border-round text-color no-underline cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-ticket"></i> Permisos
            </a>
            }
        </nav>

        <div class="mt-auto">
            <p class="text-center text-xs text-color-secondary mb-2 m-0">v1.0.0</p>
            <a (click)="logout()"
                class="flex align-items-center gap-3 p-3 border-round text-red-400 no-underline cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-sign-out"></i> Cerrar Sesión
            </a>
        </div>
    </div>

    <div class="flex-1 p-4">
        <router-outlet></router-outlet>
    </div>

</div>